*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:black;
}
.nav-link{
    color: white;
    font-weight: 600;
}
.navbar-brand{
    padding-left: 50px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}
.container-fluid img{
    border-radius: 600px;

    
}

/*-- Informacion ---*/
.sub{
    background-color: black;
}
.sub h5{
    font-size: 50;
}
.btn1{
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20;
    background-color: black;
    outline: none;
    border: none;
    margin-left: -2px;
}

.btn1:hover{
    background-color:rgb(84, 243, 84);
    color: white;
    transition: 0.3s;
}
.fas{
    font-size: 32px;
}
/*-- Productos ---*/
.collection span{
    color: yellowgreen;
    font-size: 19px;
    font-weight: 800;
    padding-left: 5px;
}
.card{
    
    border: none;
}
.collection input{
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: yellowgreen;
    color: white;
    border-radius: 5px;
    outline: none;
    border:none;
    text-align: center;
    top: 100px;
    left: 30%;
    opacity: 0;
}
.collection .card:hover input{
    opacity: 1;
    transition: 1s;
}
.collection input:hover{
    background-color: gray;
    transition: 0.5s;
}

.parallex{
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F701%2F690%2Fnon_2x%2Fabstract-polygonal-banner-background-vector.jpg&f=1&nofb=1)no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
}
.parallex h1{
    font-size: 250%;
    font-weight: 700px;
}
.parallex p{
    font-size: 175%;
}
.btn2{
    font-size: 20px;
    height: 30%;
    width: 20%;
    background: black;
    border: 2px solid white;
    color: white;
    border: none;
    outline:none;
    
    border-radius: 6px;
}
.btn2:hover{
    background:green;
    color: white;
    transition: 0.3s;
    border:none;
}